{{> header }}
<div class="container-fluid" id="tip-submit">
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <a href="/submit-tip" type="button" class="btn w-100" id="tip-form">
                    Submit a tip here!
                </a>
            </div>
        </div>
</div>

<div class="container-fluid">
        <div class="row justify-content-around">
    {{#if tip}}
         
            <div class="col-sm-11">
                <div class="card mb-3">
                    <h5 class="card-header"><i class="fa-brands fa-{{tip.tip_language}} fa-fw"></i>{{tip.tip_language}}</h5>
                    <div class="card-body">
                        <h5 class="card-title"><a href="/api/tips/{{tip.id}}"> {{tip.tip_title}}</a></a></h5>
                        <p class="card-text">{{tip.tip_detail}}
                        </p>
                        <a href="/api/tips/{{this.id}}"> View More</a>
                    </div>
                </div>
            </div>
          
    {{/if}}
    </div>
    </div> 

    {{> footer }}